.container-fluid {
    background: url("img/Landing_Image.jpg") no-repeat;
    background-size: 100% auto;
}

.col-5 p {
    text-align: center;
    font-size: 1.1vw;
}

.col-5 h4 {
    font-size: 3.05vw;
    font-style: italic;
}

.col-5 a {
    text-align: center;
    font-size: 1.5vw;
}

#empty_row {
    padding-top: 25em;
}

a.image_container img {
    max-width: 100%;
    width: 20%;
    height: auto;
}