.container {
    background-color: #E8DE2A;
    background-size: 100vw;
}

a.lg_image_container img {
    max-width: 100%;
    width: 4rem;
}

a.image_container img {
  max-width: 100%;
  width: 5rem;
}

h5 {
  font-family: ui-rounded;
  font-style: italic;
  font-weight: bold;
  font-size: 1.25rem;
}

p {
  font-family: ui-rounded;
  font-style: italic;
  font-size: 1rem;
}

h4.ml9 {
  position: relative;
  font-size: 2.9rem;
  font-style: italic;
  font-family: ui-rounded;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
}

p.card-text {
  color: #322413;
}

a#sunflower_animation img {
  max-width: 100%;
  width: 15rem;
}

